<h1>Password generator</h1>

<div>
  <label>Enter length
    <input (input)="OnChangeLength($event)" type="text">
  </label>
</div>

<div>
  <label>Use letters
    <input (change)="OnChangeUseLetters()" type="checkbox">
  </label>
</div>

<div>
  <label>Use numbers
    <input (change)="OnChangeUseNumbers()" type="checkbox">
  </label>
</div>

<div>
  <label>Use symbols
    <input (change)="OnChangeUseSymbols()" type="checkbox">
  </label>
</div>

<div>
  <!-- EVENT BINDING SYNTAX -->
  <button [disabled]="!(passwordLength && (OnChangeUseLetters || OnChangeUseNumbers || OnChangeUseSymbols))"
    (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your Password
    <input [value]="password" />
  </label>
</div>

<!-- {{password}} INTERPOLATION -->